<ion-view hide-back-button="true" text-center view-title="{{'ABOUT_US' | translate }}">
<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
</ion-nav-buttons>

<ion-content scroll="true" class="text-capitalize holder">
	<div class="item item-image bgIcon bgIcon2">
            <img src="img/Qabilati-About-image.png"/>
	</div>
  	<!-- <div class="sub-title">
  		{{aboutUsData.title}}
  	</div> -->
  	<div class="clear"></div>
  	<div class="content-description padding" ng-bind-html="aboutUsData.description">
  	</div>
  </ion-content>
</ion-view> 
