<ion-view hide-back-button="true" text-center view-title="{{'APP_NAME' | translate }}">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>
	<ion-header-bar class="bar-assertive"><h2 class="header-title">{{'APP_NAME' | translate }}</h2></ion-header-bar>
	<ion-content scroll="true" class="bg-ancestry">

		<div class="row">
			<h2 class="add_node">{{'Track_Your_Ancestors_Path' | translate }}</h2>
		</div>

		<div class="add_node_content">
			<p >{{'Ancestry_AND_Genealogy_msg' | translate }}</p>
		</div>

		<form name="payment_form" ng-submit="ancestry()" novalidate=""> 
			<div class="list">

				<div class="loginPgBtn">
					<button class="button button-assertive submitBtn">
						{{'OK_CONSTANT' | translate }}
					</button>
				</div>

			</div>

		</form>		

	</ion-content>
</ion-view>