<ion-view hide-back-button="true" view-title="{{'APP_NAME' | translate }}">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>
	<ion-header-bar class="bar-assertive">
		<h2 class="header-title">{{'APP_NAME' | translate }}</h2>
	</ion-header-bar>

	<ion-content class="scroll-content ionic-scroll has-header">
		<div class="row">
			<h2 class="addPhoto">{{'Change_Cover_Image' | translate }}</h2>
		</div>
		<form name="gallery_image_form" ng-submit="uploadCover()">

			<div>
				<div style="text-align: center;">
					<img style="height: 200px; width: 100%" src="{{imageNewPath}}" class="imgDisplay">
				</div>
				<div style="text-align: center;">
					<span class="button icon-left ion-camera browse-button frmLabel" ng-click="loadImage()">{{'ADD_PHOTO' | translate }}</span>
				</div>

				<input type="hidden" value="{{pathForImageNew(image)}}" name="CoverImage" ng-model="changeCoverData.CoverImage" ng-required="true"/>
			</div>	

			<div class="loginPgBtn">
				<button class="button button-assertive submitBtn" ng-click="uploadImage()" ng-mousedown='false'>
					{{'SAVE_BTN' | translate }}
				</button>
			</div>
		</form>	
	</ion-content>
</ion-view>