<ion-view hide-back-button="true" text-center view-title="{{'APP_NAME' | translate }}" >
<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
</ion-nav-buttons>
<ion-content>

<div class="row">
	<h2 class="sub-title">{{'FAMILY_ADMIN' | translate }}</h2>
</div>

<div>
<h4 align="center">{{'FAMILY_TREE_ADMIN' | translate }} : </h4>
</div>
<div>
<h4 align="center">{{'CHARGES_PAID_BY_FAMILY_ADMIN' | translate }} : </h4>
</div>
</ion-content>
</ion-view> 