<ion-view hide-back-button="true" text-center view-title="{{'APP_NAME' | translate }}">
<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
</ion-nav-buttons>
<ion-header-bar class="bar-assertive"><h2 class="header-title">{{'APP_NAME' | translate }}</h2></ion-header-bar>
<ion-content scroll="true">

<div class="row">
	<h2 class="signup-sub-title">{{'SIGN_UP_FORM' | translate }}</h2>
</div>
<form name="gallery_form"  novalidate=""> 
    <div class="list">
<div class="row">
  <div class="col col-50">.col.col-50</div>
  <div class="col">.col</div>
  <div class="col">.col</div>
</div>
    </div>
</form>    

</ion-content>
</ion-view>