<ion-view hide-back-button="true" cache-view="false" text-center view-title="{{'APP_NAME' | translate }}">
	<!-- <ion-header-bar class="bar-assertive">
		<ion-nav-buttons side="left">
	      
	    </ion-nav-buttons>
	    <ion-nav-buttons side="right"> 
	      
	    </ion-nav-buttons>
	</ion-header-bar> -->
	<ion-content scroll="false">
		<ion-slide-box auto-play="false"  slide-interval="5000" on-slide-changed="slideChanged(index)">
			<ion-slide>
				<div style="text-align: center;">
					<img id="slide-1" width="100%" src="img/Tutorials-Animation-v2.gif">
				</div>
			</ion-slide>
			<ion-slide>
				<div style="text-align: center;">
					<img id="slide-2" width="100%" src="img/SearchResult.gif">
				</div>
			</ion-slide>
			<ion-slide>
				<div style="text-align: center;">
					<img id="slide-3" width="100%" src="img/InvitePeople.gif">
				</div>
			</ion-slide>
			<ion-slide>
				<div style="text-align: center;">
					<img id="slide-4" width="100%" src="img/ChangeLanguage.gif">
				</div>
			</ion-slide>
			<ion-slide>
				<div style="text-align: center;">
					<img id="slide-5" width="100%" src="img/AncestryMap.gif">
				</div>
			</ion-slide>
		</ion-slide-box>
		<div class="bar bar-footer">
			<!-- <button class="button button-positive button-clear no-animation"
			ng-click="startApp()" ng-show="!slideIndex">Skip</button> -->
			<button class="button button-positive button-clear no-animation"
			ng-click="startApp()">Skip</button>
			<!-- <button class="button button-positive button-clear no-animation"
		ng-click="previous()" ng-show="slideIndex > 0">	Previous Slide
			</button> -->
			<!-- <div class="title">Title</div> -->
			<button class="button button-positive button-clear no-animation" ng-click="next()" ng-if="slideIndex != 4">
				Next </button>
			<button class="button button-positive button-clear no-animation" ng-click="startApp()" ng-if="slideIndex == 4"> Start </button>
		</div>
	</ion-content>

</ion-view>