<ion-view class="bg-img">
  <ion-content class="has-header">
    <div class="fontclass">
      <div class="item item-image bgIcon">
        <img src="img/logos.png"/>
      </div>
      <div class="lauchttl">
        <h1>{{'Your' | translate }} <span>{{'story' | translate }},</span><br /> {{'Your' | translate }} <span>{{'family' | translate }},</span> {{'Your' | translate }} <span>{{'ancestry' | translate }}!</span></h1>
      </div>
      <div class="signupbtdiv">
        <!-- <button class="signup-bt">{{'SIGN_UP' | translate }}</button> -->
        <a href="#/signup/" class="button button-block signup-bt">{{'SIGN_UP' | translate }}</a>
      </div>
      <div class="already-ac"><h2><a href="#">{{'Already_Account' | translate }}</a></h2></div>
      <div class="signupbtdiv">
        <!-- <button class="login-bt">{{'LOGIN' | translate }}</button> -->
        <a href="#/login" class="button button-block login-bt">{{'LOGIN' | translate }}</a>
      </div>
      <div class="note">
        <p>To learn more about Qabilati, <br />visit qabilati.com.</p>
      </div>
    </div>
  </ion-content>
</ion-view>