<!--  <ion-modal-view class="forgot_pass">
  <ion-header-bar class="social_Share">
      <h1 >Share</h1>
  </ion-header-bar>
  <ion-content class="social_share_body">
 <div class="item row inpop">
   <button class="button button-light col col-20" ng-click="whatsappShare('Hiiiii')">
       <i class="icon ion-social-whatsapp"></i>
   </button>
   <button class="button button-light col col-20" ng-click="facebookShare('Hiiiii')">
       <i class="icon ion-social-facebook"></i>
   </button>
   <button class="button button-light col col-20" ng-click="twitterShare('Hiiiii')">
       <i class="icon ion-social-twitter"></i>
   </button>  
   <button class="button button-light col col-20" ng-click="emailShare('Hiiiii')">
       <i class="icon ion-ios-email"></i>
   </button> 
 </div>
</ion-content>
</ion-modal-view> -->

<ion-modal-view>
  <ion-header-bar class="social_Share">
      <h1 class="title">Share</h1>
  </ion-header-bar>
  <ion-content scroll="false" class="social_share_body">
    <div class="item row">
    <button class="button button-light col col-20" ng-click="whatsappShare('Hiiiii')">
       <i class="icon ion-social-whatsapp"></i>
   </button>
   <button class="button button-light col col-20" ng-click="facebookShare('Hiiiii')">
       <i class="icon ion-social-facebook"></i>
   </button>
   <button class="button button-light col col-20" ng-click="twitterShare('Hiiiii')">
       <i class="icon ion-social-twitter"></i>
   </button>  
   <button class="button button-light col col-20" ng-click="emailShare('Hiiiii')">
       <i class="icon ion-ios-email"></i>
   </button> 
    </div>
  </ion-content>
</ion-modal-view>




<!-- <ion-modal-view class="forgot_pass">
  <ion-header-bar>
      <h1 class="title">{{'FORGET_PASSWORD' | translate }}?</h1>
    </ion-header-bar>
  <ion-content>
    <div class="inpop">
    <p class="forget-content">{{'PASSWORD_RESET_LINK' | translate }}<b>{{email_id}}</b> ?</p>
    <a class="button button-block button-positive login-button" href="javascript:void(0)" ng-click="sendforgotpassemail()">{{'SEND_EMAIL' | translate }}</a>
    </div> 
  </ion-content>
</ion-modal-view>
 -->