<div class="bar bar-header bar-positive bar-assertive">
   <h1 class="header-title">{{'APP_NAME' | translate }}</h1>
</div>

<ion-view view-title="{{'APP_NAME' | translate }}">

  <ion-content class="scroll-content ionic-scroll">

  <img src="img/tab_bg.png" class="bg2"/>

  </ion-content>

</ion-view>




<!-- <ion-tabs class="tabs-icon-only tabs-color-active-positive active-tab-{{ activeTab }}" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">

<ion-tab title="Notifications" icon-off="ion-flag" icon-on="ion-flag" ui-sref="tab.gallery">
    <ion-nav-view name="tab-notifications" class="nav-tab-0"></ion-nav-view>
</ion-tab>

<ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" ui-sref="tab.profile">
    <ion-nav-view name="tab-profile" class="nav-tab-1"></ion-nav-view>
</ion-tab>

<ion-tab title="Home-Map" icon-off="ion-map" icon-on="ion-map" ui-sref="tab.home_map">
    <ion-nav-view name="tab-home-map" class="nav-tab-2"></ion-nav-view>
</ion-tab>

<ion-tab title="Home-List" icon-off="ion-ios-list" icon-on="ion-ios-list" ui-sref="tab.home_list">
    <ion-nav-view name="tab-home-list" class="nav-tab-3"></ion-nav-view>
</ion-tab>

<ion-tab title="Create" icon-off="ion-plus-round" icon-on="ion-plus-round" ui-sref="tab.create_event">
    <ion-nav-view name="tab-create-event" class="nav-tab-4"></ion-nav-view>
</ion-tab>
</ion-tabs> -->