<ion-view cache-view="false" scroll="false" hide-back-button="true" view-title="{{'APP_NAME' | translate }}">
">
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
		</button>
	</ion-nav-buttons>

	<ion-content class="">
		 <ion-scroll zooming="true" direction="xy" delegate-handle="zoom-pane" class="zoom-pane" min-zoom="0.2"  scrollbar-x="false" scrollbar-y="false" overflow-scroll="false"> 

		<div id="graph"></div>

		</ion-scroll>
		
	</ion-content>

</ion-view>
