<ion-view hide-back-button="true" view-title="{{'APP_NAME' | translate }}">
">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>

  <ion-content class="scroll-content ionic-scroll">

    <div class="tree undefinedgen" style="margin-top: 60px;">
		<ul>      
			<li itemscope="" itemtype="" class="with-spouse">
				<ul>
					<li itemprop="parent" itemscope="" itemtype="">
						<ul>
							<li itemprop="parent" itemscope="" itemtype="">
								<ul>
									<li itemprop="parent" itemscope="" itemtype="" class="end-node got-children got-parents">
										<a title="James Cole CLARKE 1824 - 1865" href="/names/clarke/18/james-cole" itemprop="url sameAs">
											<span itemprop="name">James CLARKE</span> 
										</a>
									</li>
									<li itemprop="parent" itemscope="" itemtype="" class="end-node got-children got-parents">
										<a title="Sarah Tribe 1824 - 1887" href="/names/tribe/20/sarah" itemprop="url sameAs">
											<span itemprop="name">Sarah Tribe</span> 
										</a>
									</li>
								</ul>
								<a title="James Cole CLARKE 1866 - 1938" href="/names/clarke/14/james-cole" itemprop="url sameAs">
									<span itemprop="name">James CLARKE</span> 
								</a>
							</li>
							<li itemprop="parent" itemscope="" itemtype="">
								<ul>
									<li itemprop="parent" itemscope="" itemtype="" class="end-node got-children got-parents">
										<a title="John SAMWAYS 1848 - 1925" href="/names/samways/45/john" itemprop="url sameAs">
											<span itemprop="name">John SAMWAYS</span> 
										</a>
									</li>
									<li itemprop="parent" itemscope="" itemtype="" class="end-node got-children got-parents">
										<a title="Matilda GRANT 1853 - 1933" href="/names/grant/46/matilda" itemprop="url sameAs">
											<span itemprop="name">Matilda GRANT</span> 
										</a>
									</li>
								</ul>
								<a title="Fanny Alice Grant SAMWAYS 1873 - 1953" href="/names/samways/17/fanny-alice-grant" itemprop="url sameAs">
									<span itemprop="name">Fanny SAMWAYS</span> 
								</a>
							</li>
						</ul>
						<a title="Ronald Leslie CLARKE 1911 - 1982" href="/names/clarke/3/ronald-leslie" itemprop="url sameAs">
							<span itemprop="name">Ronald CLARKE</span> 
						</a>
					</li>
					<li itemprop="parent" itemscope="" itemtype="">
						<ul>
							<li itemprop="parent" itemscope="" itemtype="">
								<ul>
									<li itemprop="parent" itemscope="" itemtype="" class="end-node got-children">
										<a title="Samuel RAINEY 1860 - ??" href="/names/rainey/57/samuel" itemprop="url sameAs">
											<span itemprop="name">Samuel RAINEY</span> 
										</a>
									</li>
									<li itemprop="parent" itemscope="" itemtype="" class="end-node got-children">
										<a href="/names/rainey/500228/mary-ann" itemprop="url sameAs" tip="Mary Ann Rainey 1859 - ??">
											<span itemprop="name">Mary Rainey</span> 
										</a>
									</li>
								</ul>
								<a title="John William RAINEY 1888 - 1945" href="/names/rainey/41/john-william" itemprop="url sameAs">
									<span itemprop="name">John RAINEY</span> 
								</a>
							</li>
							<li itemprop="parent" itemscope="" itemtype="">
								<ul>
									<li itemprop="parent" itemscope="" itemtype="" class="end-node got-children">
										<a title="James LYMAN 1863 - ??" href="/names/lyman/58/james" itemprop="url sameAs">
											<span itemprop="name">James LYMAN</span> 
										</a>
									</li>
									<li itemprop="parent" itemscope="" itemtype="" class="end-node got-children">
										<a title="Eliza Lyman 1859 - ??" href="/names/lyman/500227/eliza" itemprop="url sameAs">
											<span itemprop="name">Eliza Lyman</span> 
										</a>
									</li>
								</ul>
								<a title="Gertrude LYMAN 1891 - 1973" href="/names/lyman/40/gertrude" itemprop="url sameAs">
									<span itemprop="name">Gertrude LYMAN</span> 
								</a>
							</li>
						</ul>
						<a href="/names/rainey/2/gertrude" itemprop="url sameAs" tip="Gertrude RAINEY 1921 - 1997">
							<span itemprop="name">Gertrude RAINEY</span> 
						</a>
					</li>
				</ul>
				<ol>
					<li class="end-node">
						<a href="#" title="These details are private">[PRIVATE]
						</a>
					</li>
					<li class="with-spouse">
						<a title="Barry Leslie CLARKE 1947 -" href="/names/clarke/1/barry-leslie" itemprop="url sameAs">
							<span itemprop="name">Barry CLARKE</span> 
						</a>
						<div class="got-parents" itemprop="spouse" itemscope="" itemtype="">
							<a href="#" title="These details are private">[PRIVATE]
							</a>
						</div>
						<ol>      
							<li itemprop="children" itemscope="" itemtype="" class="with-spouse">
								<a title="Paul Leslie CLARKE 1972 -" href="/names/clarke/7/paul-leslie" itemprop="url sameAs">
									<span itemprop="name">Paul CLARKE</span> 
								</a>
								<div class="got-parents" itemprop="spouse" itemscope="" itemtype="">
									<a title="Clare Frances MAHON 1978 -" href="/names/mahon/157/clare-frances" itemprop="url sameAs">
										<span itemprop="name">Clare MAHON</span> 
									</a>
								</div>
								<ol>      
									<li class="end-node">
										<a href="#" title="These details are private">[PRIVATE]
										</a>
									</li>
									<li class="end-node">
										<a href="#" title="These details are private">[PRIVATE]
										</a>
									</li>    
								</ol>
							</li>
							<li class="end-node">
								<a href="#" title="These details are private">[PRIVATE]
								</a>
							</li>    
						</ol>
					</li>
					<li class="end-node">
						<a href="#" title="These details are private">[PRIVATE]
						</a>
					</li>
					<li class="end-node">
						<a href="#" title="These details are private">[PRIVATE]
						</a>
					</li>
					<li class="end-node">
						<a href="#" title="These details are private">[PRIVATE]
						</a>
					</li>
				</ol>
			</li>    
		</ul>
	</div>
  </ion-content>
</ion-view>
